/*
@CHARSET "UTF-8";
*/

.title-row {
    -fx-background-color: midnightblue;
    -fx-text-fill: #eaeaea;
    -fx-color: #eaeaea;
}

.table-view {
    -fx-font-size: 8pt;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: normal;
}

.table-view .table-row-cell {
    /*-fx-cell-size: 12pt;*/
}


.table-view .cell-image-addr {
    -fx-text-fill: blue;
    -fx-font-weight: bold;
}

/*
.table-view .table-row-cell:even {
    -fx-background-color: #e3e3e3;
}

.col-category {
    -fx-text-fill: darkblue;
}
*/

.col-name {
    -fx-font-weight: bold;
}

.col-value {
    -fx-font-style: italic;
}

/*
.table-view .cell-group-head {
    -fx-background-color: midnightblue;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}
*/
